.wrap {
    word-break: break-word;
}
.box {
    background-color: #eee;
    border: 1px solid #888;
    border-radius: 3px;
    margin: -1px;
}
.hand tr{
    cursor:pointer;
}
.green{
    color:green;
}
.red{
    color:red;
}
.yellow{
    color:rgba(226, 174, 52, 0.96);
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
td h5{
    line-height: 1.5;
}
td.center{
    vertical-align: middle !important;
}
#toTop{
	position: fixed;
	bottom: 95px;
	right: 120px;
	cursor: pointer;
	display: none;
}
#toTop .fa {
    margin-right: 10px;
}