﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="Smarter Web, CFDI, Comprobantes Fiscales Digitales, Addendas, Timbrado, SAT, Hacienda, Factura Electr&oacute;nica, Facturas Electr&oacute;nicas, Recibos, Honorarios, Arrendamiento, Internet, Facturaci&oacute;n electronica, Facturaci&oacute;n" name="keywords">
    <meta content="Proveedor de facturas electr&oacute;nicas CFDI, diseño, capacitaci&oacute;n, asesor&iacute;a, configuraci&oacute;n y soporte para que inicies a facturar" name="description">
    <meta content="noindex,nofollow" name="robots">
    <meta content="Smarter Web - Soporte T&eacute;cnico" name="title">
    <meta content="https://sw.com.mx/soporte.html" name="canonical">

    <title>@ViewData["Title"] - Smarter Web</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/main.min.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/main.min.css" asp-append-version="true" />
    </environment>
    <link rel='shortcut icon' type='image/x-icon' href='~/images/favicon.ico' />
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
    <!-- ID -->
    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement( o ),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-80605060-1', 'auto');
          ga('send', 'pageview');
    </script>
    <!-- End ID -->
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top"> 
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">SW.Service.Validator</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>*@
    <div class="navbar navbar-default navbar-fixed-top">
        <!-- START CONTACT BAR -->
        <div id="contact-bar" class="orange">
            <div class="container">
                <ul class="contact hidden-xs">
                    <li><strong>DF:</strong> (55) 8421 2926</li>
                    <li><strong>GDL:</strong> (33) 3165 2319</li>
                    <li><strong>MTY:</strong> (81) 8421 0156</li>
                    <li><strong>E-mail:</strong> <a href="mailto:soporte@sw.com.mx">soporte@sw.com.mx</a></li>
                    <li><a target="_blank" href="http://www.facebook.com/facturacionelectronicasw"><img class="img-responsive" alt="facebook" width="20" height="20" src="~/images/facebook_icon.png"></a></li>
                    <li><a target="_blank" href="https://twitter.com/smartwebmx"><img class="img-responsive" alt="twitter" width="20" height="20" src="~/images/twitter_icon.png"></a></li>
                </ul>
                <div class="row hidden-lg hidden-md hidden-sm">
                    <div class="col-xs-6">
                        <ul class="contact">
                            <li><strong>Telefonos:</strong></li>
                            <li><strong>DF:</strong> <a href="tel:+525584212926">(55) 8421 2926</a></li>
                            <li><strong>GDL:</strong> <a href="tel:+523331652319">(33) 3165 2319</a></li>
                            <li><strong>MTY:</strong> <a href="tel:+528184210156">(81) 8421 0156</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-6">
                        <ul class="contact hidden-lg hidden-md hidden-sm">
                            <li><strong>E-mail:</strong> <a href="mailto:soporte@sw.com.mx">soporte@sw.com.mx</a></li>
                            <li><a target="_blank" href="http://www.facebook.com/facturacionelectronicasw"><img class="img-responsive" alt="facebook" width="20" height="20" src="~/images/facebook_icon.png">Facebook</a></li>
                            <li><a target="_blank" href="https://twitter.com/smartwebmx"><img class="img-responsive" alt="twitter" width="20" height="20" src="~/images/twitter_icon.png">Twitter</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- END CONTACT BAR -->
        <!-- START MENU BAR -->
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">
                    <a href="/index.html"><img src="~/images/logo.png" height="42px" width="153px" alt="SmarterWeb" /></a>
                </span>
            </div>
        </div>
        <!-- END MENU BAR -->
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        
    </div>
    <footer class="footer_fixed">
        <div id="contact-bar" class="red_footer">
            <div class="container">
                <p>La informaci&oacute;n que usted sube se utiliza solamente para la validez de los mismos, nosotros no almacenamos ning&uacute;n fichero y/o factura en esta plataforma</p>
            </div>
        </div>
    </footer>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
