﻿@{
    ViewData["Title"] = "Validation XML";
}

<!doctype html>
<html ng-app="validateModuleApp">
<head>
    <link rel="stylesheet" href="~/css/main.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/validation.css" />
    <link rel="stylesheet" href="~/css/bootstrap-switch.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="~/js/bootstrap-filestyle.js"></script>
</head>
<body ng-controller="validateController" id="body">
    <div class="container">
        <div class="col-xs-12  ">
            <div class="col-xs-12">
                <h1>Validador de Facturas XML</h1>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-6">
                    <div class="col-xs-12 alert alert-info" role="alertdialog"  >
                        <h4><b>Este sistema cuenta con dos metodos de validaci&oacute;n:</b></h4><br />
                        <h5><b>Validaci&oacute;n de tu factura (Estructura XML):</b></h5>
                        <p>Se valida la estructura y su contenido y lo compara contra la estructura de los XSD (normativa del SAT), mostrando si el campo es valido o no.</p><br />
                        <h5><b>Validaci&oacute;n Completa:</b></h5>
                        <p>Ademas de la anterior Validacion se valida el sello contra la cadena original y la validez del certificado, para este metodo es necesario proporsionar 
                        <b>SU</b> archivo <b>.cer</b>, <b>.key</b> y su <b>password</b> </p><br />
                        <h5><b>Ambos metodos realizan un timbrado de 'PRUEBA' en nuestro ambiente virtual para generar el sello del TFD, siempre y cuando la factura no halla sido timbrada.</b></h5>
                    </div>
                    
                </div>
                <div class="col-xs-6">
                    <form>
                        <table style="border-spacing:5px;15px;" id="mytable">
                            <tbody>
                                <tr>
                                    <td colspan="2">
                                        <h3><label>Validaci&oacute;n de tu factura (Estructura XML)</label></h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Agregar tu Factura XML  </label>
                                    </td>
                                    <td>
                                        <input type="file" name="xml" id="xml" class="filestyle form-control-sm" data-buttonText="Buscar XML" accept=".xml" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h3><label> Validaci&oacute;n Completa</label></h3>
                                    </td>
                                    <td>
                                        <div class="btn-group">
                                            <div class="material-switch pull-right">
                                                <input id="someSwitchOptionSuccess" name="vcer" type="checkbox" />
                                                <label for="someSwitchOptionSuccess" class="label-success"></label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr name="hiderows">
                                    <td>
                                        <label>Agregar tu .CER</label>
                                    </td>
                                    <td>
                                        <input type="file" id="cer" class="filestyle form-control" data-buttonText="Buscar CER" accept=".cer" />
                                    </td>
                                </tr>
                                <tr name="hiderows">
                                    <td>
                                        <label>Agregar tu .Key</label>
                                    </td>
                                    <td>
                                        <input type="file" id="key" class="filestyle form-control" data-buttonText="Buscar KEY" accept=".key" />
                                    </td>
                                </tr>
                                <tr name="hiderows">
                                    <td>
                                        <label>Agregar tu Password</label>
                                    </td>
                                    <td>
                                        <input type="password" id="pass" placeholder="password" class="form-control form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>
                                        <button type="button" class="btn btn-primary" id="upload" style="margin-top:5px;">Validar Factura</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <div class="container">
            <h1>Resumen General</h1>
            <hr />
            <div ng-repeat="detalle in results.Status">
                
                <h4>
                    <span ng-if="detalle.code == 200" class="glyphicon glyphicon-ok icon-success green"></span>
                    <span ng-if="detalle.code == 400" class="glyphicon glyphicon-remove icon-success red"></span>
                    {{ detalle.message }} {{ detalle.recommendation}}
                </h4>
                
            </div>
            <h1>Validaciones Realizadas</h1>
            <hr />
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-sm">
                            <thead>
                                <tr>
                                    <td width="5%">
                                        <h4><b>&nbsp;</b></h4>
                                    </td>
                                    <td width="15%">
                                        <h4><b>Campo</b></h4>
                                    </td>
                                    <td width="38%">
                                        <h4><b>Mensaje</b></h4>
                                    </td>
                                    <td width="37%">
                                        <h4><b>Sugerencia</b></h4>
                                    </td>
                                    <td width="5%">
                                        <h4><b>Codigo</b></h4>
                                    </td>
                                </tr>
                            </thead>
                            <tbody ng-repeat="(campo, detalles) in results" >
                                <tr ng-if="campo != 'Status' " ng-repeat="detalle in detalles" >
                                    <td class="center">
                                        <h4>
                                            <span ng-if="detalle.isError == false && detalle.recommendation == null" class="glyphicon glyphicon-ok icon-success green"></span>
                                            <span ng-if="detalle.isError == true " class="glyphicon glyphicon-remove icon-success red"></span>
                                            <span ng-if="detalle.isError == false && detalle.recommendation != null" class="glyphicon glyphicon-alert icon-success yellow"></span>
                                        </h4>
                                    </td>
                                    <td class="center">
                                        <h5> {{ campo }} </h5>
                                    </td>
                                    <td class="wrap center">
                                        <h5>{{ detalle.message }}</h5>
                                    </td>
                                    <td class="wrap center">
                                        <h5> {{ detalle.recommendation }}</h5>
                                    </td>
                                    <td class="center">
                                        <h5> {{ detalle.code }}</h5>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="alert alert-info" role="alert" ng-repeat="detalle in results.Timbre">
                <h1>Resultados del Timbrado de Prueba</h1>
                <hr />
                <p>{{ detalle.message }}</p>
            </div>
        </div>
        
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="gridModalLabel" style="text-align:center">Espera por favor mientras se cargan tus archivos</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid bd-example-row">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3" style="text-align:center">
                                    <button class="btn btn-lg btn-success"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Espera por favor...</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="myModalError" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="gridModalLabel" style="text-align:center" name="error_label">No has agregado un archivo XML para validar</h4>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid bd-example-row">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3" style="text-align:center">
                                    <button class="btn btn-lg btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-ban-circle"></span> Aceptar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('body').append('<div id="toTop" class="btn btn-primary"><i class="fa fa-arrow-up glyphicon glyphicon-arrow-up"></i><b>Subir</b></div>');
            $(window).scroll(function () {
                if ($(this).scrollTop() != 0) {
                    $('#toTop').fadeIn();
                } else {
                    $('#toTop').fadeOut();
                }
            });
            $('#toTop').click(function () {
                $("html, body").animate({ scrollTop: 0 }, 600);
                return false;
            });
        });
    </script>
    <script>
        $("[name='hiderows']").hide();
        $("[name='vcer']").click(function () {
            if (this.checked == true)
            {
                $("[name='hiderows']").toggle(true);
            }else{
                $("[name='hiderows']").toggle(false);
                $("#cer").val("");
                $("#key").val("");
                $("#pass").val("");
            }
        });
        $(document).ready(function () {
            $("#upload").click(function (evt) {
                if ($("#xml").val() != '')
                {
                    if ($("[name='vcer']").is(':checked') == true)
                    {
                        if ($("#cer").val() != '' && $("#key").val() != '' && $("#pass").val() != '')
                        {
                            sendBox();
                        } else {
                            $("[name='error_label']").html('Te hacen falta archivos o el password para poder realizar la validaci&oacute;n completa');
                            $('#myModalError').modal('toggle');
                            $('#myModalError').modal({
                                keyboard: false,
                            });
                        }
                    } else {
                        sendBox();
                    }
                } else {
                    $("[name='error_label']").html('No has agregado un archivo XML para validar');
                    $('#myModalError').modal('toggle');
                    $('#myModalError').modal({
                        keyboard: false,
                    });
                }
            });
        });

        function sendBox() {
            $('#myModal').modal('toggle');
            $('#myModal').modal({
                backdrop: 'static',
                keyboard: false,
            })

            var xml = $("#xml").get(0).files;
            var cer = $("#cer").get(0).files;
            var key = $("#key").get(0).files;
            var pass = $("#pass").val();
            var data = new FormData();
            data.append('xml', xml[0]);
            data.append('cer', cer[0]);
            data.append('key', key[0]);
            data.append('pass', pass);
            $.ajax({
                type: "POST",
                url: "/api/apivalidation",
                contentType: false,
                processData: false,
                data: data,
                success: function (message) {
                    angular.element($('#body')).scope().go(message);
                    $('#myModal').modal('hide');
                },
                error: function () {
                    $('#myModal').modal('hide');
                    alert("Error subiendo los archivos! " + error);
                }
            });
        }
    </script>
    <script src="~/Scripts/app_module.js"></script>
    <script src="~/Scripts/validateService.js"></script>
    <script src="~/Scripts/Controllers/controller.js"></script>

</body>
</html>